@model IEnumerable<blog_dapper.Models.Comment>

@{
    ViewData["Title"] = "Lista de Comentarios";
}

<div class="row">
    <div class="col-9">
        <h1>Administrador de Comentarios</h1>
    </div>
</div>

<div class="card bg-light p-3">
    <table class="table" id="tblComments">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Comentario</th>
            <th>Artículo</th>
            <th>Fecha de Creación</th>
            <th>Acciones</th>
        </tr>
        </thead>
    </table>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/comments.js"></script>
}
