@model IEnumerable<blog_dapper.Models.Tag>

@{
    ViewData["Title"] = "Lista de Etiquetas";
}


<div class="row">
    <div class="col-9">
        <h1>Administrador de Etiquetas</h1>
    </div>
    <div class="col-3">
        <a asp-action="Create" class="btn btn-primary float-end">
            <i class="bi bi-plus-square"></i>
            &nbsp;Agregar Etiqueta
        </a>
    </div>
</div>

<div class="card bg-light p-3">
    <table class="table" id="tblTags">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Fecha de Creación</th>
            <th>Acciones</th>
        </tr>
        </thead>
        
    </table>
</div>

@section Scripts
{
    <script src="~/js/tags.js"></script>
}
